@font-face {
  font-family: "intro_";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/intro_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_0-webfont.woff") format("woff"), url("../fonts/intro_0-webfont.ttf") format("truetype"), url("../fonts/intro_0-webfont.svg#intro") format("svg");
}