@import "~normalize.css";
@import "reset";
@import "fonts";
@import "mixins";
@import "vars";
ul
{
  list-style-type: none;
}
.shop {
  font-family: $font_robot;
  .no-border {
    outline: none;
    border: 0;

  }
  .content {
    position: relative;
    &._centered {
      width: 1200px;
      margin: 0 auto;
    }
    &._wide {
      width: 100%;
    }
  }
  .header {
    width: 100%;
    height: 145px;
    background-color: $black;
    color: $white;
  }
  .header__top-line{
    height: 96px;
    padding-top: 34px;
  }
  .icon {
    fill: $white;
    background-color: $black;
    cursor: pointer;
    &._search {
      height: 24px;
      width: 24px;
    }
    &._person {
      height: 36px;
      width: 36px;
      fill: $black;
    }
    &._cart {

    }
  }
  .slider{
    position: relative;
  }
  .slider-item{
    height: 365px;
    background-position: center;
  }
  .slick-arrow{
    position: absolute;
    top: 50%;
    cursor: pointer;
    &._left{
      transform: translate(-586px,-50%);
      left: 50%;
    }
    &._right{
      transform: translate(586px,-50%) rotate(180deg);
      right: 50%;
    }
    &:hover{
      opacity: 0.8;
    }
    .pic{
      width: 18px;
      height: 38px;
    }
  }
  .search {
    display: inline-block;
    padding-left: 14px;
  }
  .personal {
    display: inline-block;
    float: right;
    padding-right: 7px;
  }
  .personal__link {
    display: inline-block;
  }
  .search-line {
    background-color: $black;
    color: $white;
    height: 24px;
    vertical-align: top;
    &::placeholder {
      color: white;
      font-size: 14px;
    }
  }
  .logo{
    width: 125px;
    height: 55px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: -14px;
    transform: translateX(-50%);
    &:hover{
      .logo-pic{
        display: none;
        &._hovered {
          display: block;
        }
      }
    }
  }
  .logo-pic {
    width: 100%;
    height: 100%;
    display: block;
    &._hovered{
      display: none;
    }
  }
  .cls-1 {
    font-size: 20.11px;
    fill: #999;
    font-family: $font_intro;
  }
  .cls-2 {
    fill: #fff;
  }
  .cls-3 {
    fill: none;
  }

  .login {

  }
  .login__label{
    width: 39px;
    height: 34px;
    color: #fdfcfc;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.11px;
    display: inline-block;
    vertical-align: top;
    transform: translateY(27%);
  }
  .top-menu {
    .tm-list {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between
    }
    .tm-item {
      line-height: 47px;
      height: 47px;
      &:first-child > .tm-link {
        /*padding-left: 32px*/
      }
    }
    .tm-link {
      display: block;
      text-decoration: none;
      white-space: nowrap;
      padding: 18px 14px;
      color: white;
      /*width: 81px;*/
      height: 14px;
      font-family: $font_intro;
      font-size: 18px;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0.11px;
    }
  }

  .catalog-menu {
    &__list {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between
    }
    &__item {
      line-height: 47px;
      height: 47px;
      &:first-child > .tm-link {
        /*padding-left: 32px*/
      }
    }
    &__link {
      display: block;
      text-decoration: none;
      white-space: nowrap;
      padding: 18px 14px;
      color: $black;
      /*width: 81px;*/
      height: 14px;
      font-family: $font_intro;
      font-size: 18px;
      font-weight: 400;
      line-height: 13px;
      letter-spacing: 0.11px;
    }
  }
  .catalog-list{
    &:before{
      content: " ";
      display: table;
    }
    &:after{
      content: " ";
      display: table;
      clear: both;
    }
    /*margin-left: -7px;*/
    margin-right: -7px;
  }
  .catalog-bg{
    background-color: $gray;
  }
  .catalog-list__item{
    width: 33.3%;
    /*height: 551px;*/
    float: left;
    padding: 7px;
    &._adv{
      height: 362px;
    }
    &._double{
      width: 66.6%;
    }
    &._wide{
      width: 100%;
    }
  }
  .banner-stretch{
    height: 362px;
    width: 100%;
  }
  .catalog-list__banner{
    width: 100%;
    height: 100%;
    background-position: center;
  }
  .product{
    background-color: $white;
    position: relative;
    overflow: hidden;
    &:hover{
      .product__price{
        color: $pink;
      }
      .state-pic._size{
        display: block;
        opacity: .8;
      }
    }
  }
  .product__link{
    display: block;
    width: 100%;
    height: 100%;
  }
  .product__image{
    width: 390px;
    height: 478px;
    /*background-size: 100%;*/
    background: no-repeat center;
    background-size: auto 478px;
    transition: all 0.2s ease-in;
    &:hover{
      opacity: 0.84;
      /*background-size: 120%;*/
      background-size: auto 508px;
    }
  }
  .product__state{
    position: absolute;
    top: 17px;
    right: 14px;
  }
  .slick-dots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    li {
      display: inline-block;
      margin-right: 8px;
      button {
        border: none;
        outline: none;
        background-color: $white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        text-indent: -9999px;
        overflow: hidden;
        font-size: 0;
        &:focus {
          outline: none;
        }
      }
    }
    .slick-active{
      button{
        background-color: $black;
        border: 2px solid white;
      }
    }
  }
  .state-pic{
    width: 28px;
    height: 28px;
    background-color: $darkGray;
    border-radius: 50%;
    color: white;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 4px;
    &._size{
      /*display: none;*/
      transition: all 0.2s ease-in;
      opacity: 0;
    }
    &._like{
      cursor: pointer;
      &:hover{
        background-color: $pink;
      }
    }
  }
  .footer{
    height: 202px;
    background-color: $black;
    color: $white;
  }
  .favorite{
    width: 28px;
    height: 28px;
  }
  .product__top{
    font-size: 0;
  }
  .product__bottom{
    margin: 12px auto;
  }
  .product__title {
    line-height: 1;
    width: 100%;
    text-align: center;
    color: #010101;
    font-family: $font_intro;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.30px;
  }
  .product__price{
    font-family: $font_intro;
    color: $darkGray;
    letter-spacing: 0.30px;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .footer{
    overflow: hidden;
    font-family: $font_intro;
  }
  .footer__logo{
    height: 54px;
  }
  .footer__content-line{
    margin: 84px auto;
  }
  .footer__item{
    display: inline-block;
    width: 24.5%;
    &._rights{
      font-size: 18px;
    }
    &._payment{
      text-align: center;
    }
  }
  .social-link{
    display: inline-block;
    white-space: nowrap;
    background: no-repeat center/contain;
  }
  .social-icon{
    margin-right: 2px;
    width: 40px;
    height: 40px;
  }
  .payment-icon{
    height: 40px;
    width: 80px;
  }
}