{% extends "layouts/app.html" %}

{% set title = 'Home page' %}

{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block content %}
  {% include 'partials/slider.html' %}
  {% include 'partials/catalog/main.html' %}
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}

{% block counters %}
    {% include 'partials/counters.html' %}
{% endblock %}