{% extends "layouts/app.nunj" %}
{% from "lib/macro.nunj" import svgUse %}

{% set title = 'Home page' %}

{% block content %}
  {% include 'partials/slider.html' %}
  {% include 'partials/catalog/main.html' %}
{% endblock %}
