<div class="catalog-list">
    {% include 'partials/catalog/banner_x1.html' %}
    {% include 'partials/catalog/banner_x2.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/banner_wide.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/item.html' %}
    {% include 'partials/catalog/item.html' %}
</div>